In [6]:
import pandas as pd
import sklearn 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('solar_flare.csv')
df.head()

,flare,start.date,start.time,peak,end,duration.s,peak.c/s,total.counts,energy.kev,x.pos.asec,y.pos.asec,radial,active.region.ar,flag.1,flag.2,flag.3,flag.4,flag.5
0,2021213,2002-02-12,21:29:56,21:33:38,21:41:48,712,136,167304.0,12-25,592,-358,692,0,A1,P1,NaN,NaN,NaN
1,2021228,2002-02-12,21:44:08,21:45:06,21:48:56,288,7,9504.0,6-12,604,-341,694,9811,A1,P1,PE,Q1,NaN
2,2021332,2002-02-13,00:53:24,00:54:54,00:57:00,216,15,11448.0,6-12,-310,375,487,9825,A1,P1,NaN,NaN,NaN
3,2021308,2002-02-13,04:22:52,04:23:50,04:26:56,244,20,17400.0,12-25,-277,378,469,9822,A1,P1,NaN,NaN,NaN
4,2021310,2002-02-13,07:03:52,07:05:14,07:07:48,236,336,313392.0,25-50,-272,390,476,9825,A1,GS,P1,PE,Q2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116143 entries, 0 to 116142
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   flare             116143 non-null  int64
 1   start.date        116143 non-null  object
 2   start.time        116143 non-null  object
 3   peak              116143 non-null  object
 4   end               116143 non-null  object
 5   duration.s        116143 non-null  int64
 6   peak.c/s          116143 non-null  int64
 7   total.counts      116143 non-null  float64
 8   energy.kev        116143 non-null  object
 9   x.pos.asec        116143 non-null  int64
 10  y.pos.asec        116143 non-null  int64
 11  radial            116143 non-null  int64
 12  active.region.ar  116143 non-null  int64
 13  flag.1            116143 non-null  object
 14  flag.2            116143 non-null  object
 15  flag.3            96236 non-null   object
 16  flag.4            95941 non-null   object
 17  flag.5            54963 non-null   object
dtypes: float64(1), int64(7), object(10)
memory usage: 15.9+ MB

In [11]:
df.isnull().sum()

flare                   0
start.date              0
start.time              0
peak                    0
end                     0
duration.s              0
peak.c/s                0
total.counts            0
energy.kev              0
x.pos.asec              0
y.pos.asec              0
radial                  0
active.region.ar        0
flag.1                  0
flag.2                  0
flag.3              19907
flag.4              20202
flag.5              61180
dtype: int64

In [16]:
df = df.drop(['flare','flag.1','flag.2','flag.3', 'flag.4', 'flag.5'], axis=1)

In [22]:
# Encode 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116143 entries, 0 to 116142
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   start.date        116143 non-null  object
 1   start.time        116143 non-null  object
 2   peak              116143 non-null  object
 3   end               116143 non-null  object
 4   duration.s        116143 non-null  int64
 5   peak.c/s          116143 non-null  int64
 6   total.counts      116143 non-null  float64
 7   energy.kev        116143 non-null  object
 8   x.pos.asec        116143 non-null  int64
 9   y.pos.asec        116143 non-null  int64
 10  radial            116143 non-null  int64
 11  active.region.ar  116143 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 10.6+ MB

In [25]:
df['start.time'] = pd.to_datetime(df['start.date'] + ' ' + df['start.time'])
df['peak'] = pd.to_datetime(df['start.date'] + ' ' + df['peak'])
df['end'] = pd.to_datetime(df['start.date'] + ' ' + df['end'])
df.head()

,start.date,start.time,peak,end,duration.s,peak.c/s,total.counts,energy.kev,x.pos.asec,y.pos.asec,radial,active.region.ar
0,2002-02-12,2002-02-12 21:29:56,2002-02-12 21:33:38,2002-02-12 21:41:48,712,136,167304.0,12-25,592,-358,692,0
1,2002-02-12,2002-02-12 21:44:08,2002-02-12 21:45:06,2002-02-12 21:48:56,288,7,9504.0,6-12,604,-341,694,9811
2,2002-02-13,2002-02-13 00:53:24,2002-02-13 00:54:54,2002-02-13 00:57:00,216,15,11448.0,6-12,-310,375,487,9825
3,2002-02-13,2002-02-13 04:22:52,2002-02-13 04:23:50,2002-02-13 04:26:56,244,20,17400.0,12-25,-277,378,469,9822
4,2002-02-13,2002-02-13 07:03:52,2002-02-13 07:05:14,2002-02-13 07:07:48,236,336,313392.0,25-50,-272,390,476,9825

In [27]:
df.drop('start.date', axis=1)

,start.time,peak,end,duration.s,peak.c/s,total.counts,energy.kev,x.pos.asec,y.pos.asec,radial,active.region.ar
0,2002-02-12 21:29:56,2002-02-12 21:33:38,2002-02-12 21:41:48,712,136,167304.0,12-25,592,-358,692,0
1,2002-02-12 21:44:08,2002-02-12 21:45:06,2002-02-12 21:48:56,288,7,9504.0,6-12,604,-341,694,9811
2,2002-02-13 00:53:24,2002-02-13 00:54:54,2002-02-13 00:57:00,216,15,11448.0,6-12,-310,375,487,9825
3,2002-02-13 04:22:52,2002-02-13 04:23:50,2002-02-13 04:26:56,244,20,17400.0,12-25,-277,378,469,9822
4,2002-02-13 07:03:52,2002-02-13 07:05:14,2002-02-13 07:07:48,236,336,313392.0,25-50,-272,390,476,9825
...,...,...,...,...,...,...,...,...,...,...,...
116138,2018-02-09 16:41:28,2018-02-09 16:42:54,2018-02-09 16:43:32,124,18,2888.0,6-12,-345,-38,347,2699
116139,2018-02-09 18:15:56,2018-02-09 18:17:26,2018-02-09 18:17:40,104,16,1656.0,6-12,-268,-38,271,2699
116140,2018-02-10 13:04:36,2018-02-10 13:06:46,2018-02-10 13:07:04,148,15,2224.0,6-12,-115,-38,121,2699
116141,2018-02-26 15:49:56,2018-02-26 15:51:18,2018-02-26 15:53:52,236,16,3312.0,6-12,115,192,223,2700
116142,2018-03-03 04:04:08,2018-03-03 04:06:22,2018-03-03 04:12:20,492,42,15816.0,6-12,926,128,935,2700